* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: inherit;
}

html {
    width: 100%;
    font-family: cursive;
}

body {
    max-width: 100%;
    margin: 0;
    max-height: 100vh;
}

.container {
    margin: 20px 80px;
    text-align: center;
}

h1 {
    text-transform: capitalize;
}

.sections {
    background-color: darkcyan;
    border: 2px solid black;
    margin-bottom: 4%;
}

.sections p {
    padding: 0 5%;
    text-align: justify;
}

h3 {
    display: inline-block;
    width: 25%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.9rem;
    font-weight: bolder;
    text-transform: capitalize;
    background-color: indianred;
    padding: 1% 3%;
    position: relative;
    left: 37.5%;
}

#s1 h3 {
    width: 45%;
    left: 27.5%;
}

#beef {
    background-color: khaki;
}

#sushi {
    background-color: lightcoral;
}

footer {
    background-color: #008b8b;
    padding: 10px;
}


@media (min-width: 768px) and (max-width: 991px) {
    #s1, #s2 {
        width: 48%;
    }

    #s1 {
        float: left;
    }

    #s2 {
        float: right;
    }

    #s3 {
        clear: both;
    }

    h3 {
        font-size: 1.05rem;
    }

    #s1 h3 {
        position: relative;
        left: 37.5%;
        width: 25%;
    }

    footer {
        margin-top: 150px;
    }
}

@media (min-width: 992px) {
    .container {
        margin: 20px 30px;
    }

    #s1, #s2, #s3 {
        width: 30%;
    }

    #s1 {
        float: left;
        margin-right: 3%;
    }

    #s2 {
        float: left;
        margin-right: 3%;
    }

    #s3 {
        float: left;
    }

    h3 {
        font-size: 1.05rem;
    }

    #s1 h3 {
        position: relative;
        left: 35%;
        width: 30%;
    }

    footer {
        clear: both;
        margin-top: 530px;
    }
}