html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #FFF;
}

.container {
    max-width: 600px;
    width: 80%;
    margin: 200px auto;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 2rem;
    border-radius: 2%;
    text-align: right;
    background-color: dodgerblue;
    color: inherit
}

.row {
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

.row button {
    width: 23.5%;
    padding: 20px 10px;
    border-radius: 2px;
    color: inherit;
}

.num, .clear {
    background-color: #000;
}

#add {
    background-color: orangered;
}

#minus {
    background-color: violet;
}

#multiply {
    background-color: turquoise;
}

#divide {
    background-color: green;
}

.equal {
    background-color: darkred;
}

@media (min-width: 600px) {
    .row button {
        margin: 2px;
    }
} 