html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    font-family: cursive;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
}

header {
    background-color: #000;
    color: #F0FFF0;
}

header a {
    color: #F0FFF0;
    text-transform: capitalize;
}

.desktop-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

.mobile-nav {
    display: none;
}

.nav-link-toggle svg {
    fill: #FFF;
}

.right-nav {
    display: flex;
}

.right-nav .nav-link {
    margin-right: 10px;
}

/**** container ******/
.container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 20px;
    padding: 10px 30px;
}

.form-input input, .form-input2 input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.form-input {
    position: relative;
    margin-bottom: 20px;
}

.form-input2 {
    position: relative;
    margin-bottom: 50px;
}

#password, #password2 {
    width: 98%;
}

.form-input2 #password {
    width: 100%;
}

.password-input {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.password-input .form-input {
    width: 50%;
}

.gender {
    display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    margin-bottom: 10px;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}


.gender::-ms-expand {
	display: none;
}
.gender:hover {
	border-color: #888;
}
.gender:focus {
	border-color: #000;
	box-shadow: 0 0 1px 3px #000;
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.gender option {
	font-weight:normal;
}

input[type="checkbox"] {
    display: inline;
    width: 10%;
    margin: 0;
}

.check-input p{
    display: inline;
    width: 90%;
    font-size: 0.8rem;
}

.check {
    margin: 0;
}

.check-input p a, .bottom a  {
    color: #1E90FF;
    text-decoration: none;
}

.check-input p a:hover, .bottom a {
    text-decoration: underline;
}

.btn {
    width: 100%;
    position: relative;
    background-color: #333333;
    color: #FFF;
    font-size: 0.9rem;
    font-weight: 300px;
    letter-spacing: 2px;
    padding: 10px 80px;
    border-radius: 20px;
    box-shadow: 0 6px #000;
}

.btn:hover {
    box-shadow: 0 4px #000;
    top: 2px;
}

.btn:active {
    box-shadow: none;
    top: 6px;
}

.bottom {
    text-align: center;
}

.right-overlay {
    background-image: url('assets/wfh_9.svg');
}

.right-overlay2 {
    background-image: url('assets/wfh_6.svg');
}

.right-overlay, .right-overlay2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.form-input small, .form-input2 small {
    color: #FF0000;
    position: absolute;
    visibility: hidden;
}

.form-input.error input {
    border-color: #FF0000;
}

.form-input.success input {
    border-color: #228B22;
}

.gender.success {
    border: 1px solid #228B22;
}

.form-input.error small {
    visibility: visible;
}

.loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 30s linear infinite;
    animation: spin 30s linear infinite;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width: 768px) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
        padding: 0 30px;
    }

    .main-mobile-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-link-toggle {
        cursor: pointer;
    }

    .mobile-links {
        display: none;
    }

    .mobile-links .nav-link {
        margin-bottom: 10px;
    }

    .mobile-links.show {
        display: block;;
        padding: 10px 0;
    }

    .container {
        display: block;
    }

    .left-overlay {
        width: 100%;
    }

    .right-overlay, .right-overlay2 {
        display: none;
    }
}